body {
    background-color: #333;
    color: #DDD;
}

input {
    background-color: #DDD;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

#listsContainer {
    display: flex;
    flex-direction: row;
}

.achievement {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 10px;
    margin: 8px;
    border: 1px solid #DDD;
    border-radius: 1rem;
}

.achievementIcon {
    width: 64px;
    height: 64px;
}

.achievementContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.achievementName{
    font-weight: bold;
    font-size: 1rem;
}

.achievementDescription{
    font-size: .75rem;
}

.achievement.dragOver {
    border-color: #DDD;
    background: #AAA;
}

.achievement.dragging {
    opacity: 0.5;
}