body {
    background-color: #333;
    color: #DDD;
}

input {
    background-color: #DDD;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

#lists {
    display: flex;
    flex-direction: row;
}

.achievement {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #DDD;
    border-radius: 1rem;

}

.achievement-icon {
    width: 64px;
    height: 64px;
}

.achievement-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}